.all-explanation {
    margin: 0;
    padding: 8px;
}

.explanation-layer {
    margin: 5%;
    margin-top: 2%;
    margin-bottom: 2%;

    padding: 2%;

    background-color: #efefef;
    border-radius: 10px;

    outline: #bdcbd2 1px solid;
    box-shadow: 5px 5px 10px #eae5e3;
}

.explanation-pinyin {
    font-weight: bolder;
    font-size: xx-large;

    margin: 0;
	user-select: text;
    color: #19325f;
}

.explanation {
    margin: 0;
    font-weight: 300;

    line-height: 200%;
	user-select: text;
    white-space: pre-line;
}